<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318201145163-2nh1r3rk8jd338548b1hn98qnj914spt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318201145163-2nh1r3rk8jd338548b1hn98qnj914spt</string>
	<key>API_KEY</key>
	<string>AIzaSyCCgS9P3NFN_mujqGaFe4nR9bUSO8pk0ZU</string>
	<key>GCM_SENDER_ID</key>
	<string>318201145163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FinanceManagmentApp</string>
	<key>PROJECT_ID</key>
	<string>financemanagmentapp</string>
	<key>STORAGE_BUCKET</key>
	<string>financemanagmentapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318201145163:ios:c4d5d6d266f56921696ace</string>
</dict>
</plist>